{% extends 'VlsBackOfficeBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Certificats
{% endblock %}

{% block page_title %}
<h1>Certificats de réussites</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-certificate"></i> Ajout de certificats</h3>
            </div>
            <div class="panel-body">
                {{ form(certificateForm) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-certificate"></i> Liste des certificats</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for certificate in certificates %}
                    <li>
                        {{ certificate.title }}<br />
                        <span class="text-right"><small>par {{ certificate.certifier }}</small></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
