
{% extends 'VlsBackOfficeBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Socials
{% endblock %}

{% block page_title %}
<h1>Social</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-check-square-o"></i> Liens vers les media sociaux</h3>
            </div>
            <div class="panel-body">
                {{ form(socialForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
